.mobile_nav {
  background-color: var(--black);
  width: 100%;
  position: fixed;
  top: 0;
  transition: 3s all;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.mobile_links {
  margin: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile_links li {
  margin: 0 0 25px;
}

.mobile_links li a:hover {
  color: var(--blue);
}

.mobile_links li a {
  color: var(--white);
  font-size: 18px;
}
