.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact h2 {
  font-size: clamp(30px, 4vw, 40px);
  margin: 0 0 3rem;
}

.contact_text {
  font-size: clamp(20px, 3vw, 25px);
  margin: 0 0 1rem;
  text-align: center;
  color: var(--darkGrey);
}

.email_us {
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--blue);
  cursor: pointer;
  color: var(--white);
  border-radius: 20px;
  font-size: 20px;
  margin: 4rem 0 3rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.email_us:hover {
  background-color: var(--darkBlue);
}
