.hero_section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_image {
  max-width: 700px;
  width: 80%;
}

.hero_section h1 {
  font-size: clamp(20px, 5vw, 40px);
  color: var(--darkGrey);
  margin: 0.5rem 0 0;
}

.about_section {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.about_section h2 {
  font-size: clamp(30px, 4vw, 35px);
}

.about_section h2::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
}

.about_section p {
  text-align: center;
  max-width: 500px;
  width: 97%;
  line-height: 2;
  letter-spacing: 1px;
  margin: 4rem 0 0;
  font-size: clamp(18px, 3vw, 20px);
}

.about_section button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 20px;
  color: var(--white);
  background-color: var(--blue);
  margin: 4rem 0 0;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.about_section button:hover {
  background-color: var(--darkBlue);
}

.about_section button svg {
  margin: 0 0 0 10px;
}

@media (max-width: 480px) {
  .hero_section {
    max-height: 550px;
  }
}
