.hero_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_image {
  max-width: 700px;
  width: 80%;
}

.hero_section h1 {
  font-size: clamp(20px, 5vw, 40px);
  color: rgb(73, 72, 72);
}

.about_section {
  background-color: var(--grey);
}

@media (max-width: 480px) {
  .hero_section {
    max-height: 500px;
  }
}
