* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0093fe;
  --grey: #fbf9f9;
  --black: #000;
  --white: #fff;
  --darkBlue: #0075c9;
}

body {
  max-width: 100vw;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

section {
  width: 100%;
  height: 100vh;
  padding: 0 1rem;
}
